CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

\.idea/

cmake-build-debug/

\.vs/

x64/

release/

debug/

my-qt-app1\.vcxproj

my-qt-app1\.vcxproj\.filters

\.qmake\.stash

my-qt-app1\.sln
